@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800');

html {
    scroll-behavior: smooth;
    user-select: none;
}

/* ----------[ DEBUT DU FICHIER index.ejs ]---------- */

body {
    margin: 0;
    background-color: #030712;

    color: #ececec;
    font-weight: 300;
    font-family: "Assistant", sans-serif;
    letter-spacing: 0.7px;
}

.blue {
    color: #2A7BF8;
}

nav, .filter-container {
    display: flex;
    width : 100vw;
    padding: 1rem;
    box-sizing: border-box; /* 100vw (width) + 1rem (padding) = 100vw */

    justify-content: space-between;
    align-items: center;

    background-color: #0F1727;
    border-bottom: solid 1.8px #1C2636;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

.icon,
nav .actions,
.ajouter,
.connecter {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;

    gap: 0.7rem;
    font-weight: 400;
}

.icon {
    font-size: 1.1rem;
    text-wrap: nowrap;
}

.icon img {
    width: 1.8rem;
}

.ajouter {
    position: relative;
    background-color: #155DFC;
    font-weight: 500;
    font-size: 1rem;
    width: fit-content;
}

.connecter {
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url('/site/person.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1; /* width / height = 1 */
    cursor: pointer;
}

/* Style de la pop up - DEBUT */

div.popup {
    display: none; /* Cachée par défaut mais modifiable dans le js static */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre la popUp en + de top et left */
    overflow-y: auto; /* permet de scroller */

    width: 70%;
    max-height: 80vh;
    padding: 3rem;
    z-index: 100; /* Juste pour dire qu'il s'affiche à l'avant plan*/

    background: #1E2939;
    border: 2px solid #0F1727;
    border-radius: 15px;
}

button.popUp {
    margin-left: 2%;
}

button.close-btn {
    position: relative;
    background-color: #155DFC;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-logout {
    position: relative;
    background-color: #155DFC;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style de la pop up - FIN */

/* Style de la barre de recherce - DEBUT */

.searchbar, .burger-searchbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 45%;
}

form {
    width: 100%;
}

input {
    width: 100%;
    height: 2.2rem;
    padding-left: 2.5rem;

    border: solid 2px #333E51;
    border-radius: 8px;
    outline: none;
    background-color: #1E2939;

    color: #eff0ff;
    font-family: "Assistant", sans-serif;
    letter-spacing: 0.7px;
    font-size: 0.9rem;

    transition: all 0.09s ease-in-out;
    cursor: text;
}

input:active {
    transform: scale(0.95);
}

input::placeholder {
    color: #93949e;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    z-index: 1; /* Il est au dessus de la searchbar */
}

/* Style de la barre de recherce - FIN */

/* Style du burger menu (icon) - DEBUT */

.burger {
    position: relative;
    display: none; /* Visible que sur une écran 550px ou moins */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 7px;

    height: 2.2rem;
    border-radius: 15px;
    z-index: 2;
}

.bar1,
.bar2,
.bar3_h,
.bar4 {
    border-radius: 30px;
    background-color: #155DFC;
    width: 1.6rem;
    transition: 0.4s;
    height: 2.4px;
}

.bar2 {
    position: absolute;
}

.burger.active {
    border-radius: 50px;
    cursor: pointer;
}

.burger.active .bar3_h {
    transform: rotate(-45deg);
}

.burger.active .bar2 {
    transform: rotate(45deg);
}

.burger.active .bar1,
.burger.active .bar4 {
    opacity: 0;
}

/* Style du burger menu (icon) - FIN */


/* Style du burger menu (menu) - DEBUT */

.burger-menu {
    display: none; /* caché par défaut */
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    top: 50.8px;
    right: 0;

    width: fit-content;
    padding: 1rem;
    row-gap: 0.6rem;

    background-color: #0F1727;
    border: solid 1.8px #1C2636;
    border-top: solid 1.8px #0F1727;
    border-radius: 0 0 0 8px;
    z-index: 5;
}

.burger-menu .icon {
    padding: 0;
    gap: 0.6rem;
}

.burger-menu .ajouter,
.burger-menu .icon {
    font-size: 0.95rem;
}

.burger-menu .ajouter,
.burger-menu .connecter {
    height: 1.5rem;
}

.burger-searchbar {
    width: 70vw;
    max-width: 300px;
    margin-bottom: 0.6rem;
}


/* Style du burger menu (menu) - FIN */

/* Style des filtres - DEBUT */

.filter-container {
    width: 97vw;
    height: 4rem;
    padding: 0;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: flex-start;
    gap: 1rem;

    border: solid 1px #1C2636;
    border-radius: 10px;
}

.filter-container .icon {
    font-size: 1rem;
    font-weight: 300;
    gap: 0.4rem;
}

.filter-container img {
    width: 1.3rem;
}

.filter {
    position: relative;
}

.selected {
    display: flex;
    background-color: #1E2939;
    padding: 0.5rem 1rem;

    justify-content: space-between;
    align-items: center;

    border: solid 2px #333E51;
    border-radius: 6px;

    cursor: pointer;
}

.selected .arrow {
    margin-left: 0.5rem;

    font-size: 0.8rem;
    color: #333E51;

    transition: transform 0.2s;
}

.selected.active .arrow {
    transform: rotate(180deg);
}

.options {
    display: none; /* ça apparait seulement si on clique sur les filtres (voir script.js) */
    position: absolute;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    background-color: #1E2939;
    border: solid 2px #333E51;
    border-top: none;
    border-radius: 0 0 6px 6px;
    z-index: 3;
}

.options.show {
    display: flex; /* On montre que si il a la classe show (script.js) */
}

.options div { /* div des choix */
    padding: 0.5rem 1rem; /* top/bottom left/right */
    cursor: pointer;
    transition: background 0.2s;
}

.options div:hover {
    background-color: #333E51;
}

/* Style des filtres - FIN */

/* Style des oeuvres - DEBUT */

.tendance-icon {
    margin: 1.5rem 0;
    margin-left: 2vw;
    justify-content: start;
    font-weight: 300;
}

.oeuvres {
    display: grid;
    gap: 1.5rem;
    width: 97vw;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* colonnes flexibles */
    max-width: calc(5 * 300px + 4 * 1.5rem); /* maximum 5 colonnes + gaps */
}

.oeuvre, .tendance {
    position: relative;
    transition: transform 0.3s ease;
}

.oeuvre img, .tendance img {
    display: block;
    max-width: 100%;       
    height: 100%;
    border-radius: 15px;
    object-fit: cover;  /* recadrage si nécessaire */
    cursor: pointer;
}

.oeuvre:hover,
.tendance:hover {
    transform: scale(1.01);
}

.type, .popularite {
    position: absolute;
    top: 15px;
    left: 15px;

    background-color: #0F1727;
    font-weight: 400;
    padding: 0.3rem 0.8rem;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.tendance {
    display: flex;
    align-items: flex-end;

    width: 97vw;
    padding: 1.5rem;
    box-sizing: border-box;

    margin: auto;
    aspect-ratio: 16 / 4;
    height: 25rem;
    min-height: fit-content;
    background-position: center;
    background-size: cover;
}

.tendance .details {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}

.details .ensemble {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.tendance .type,
.popularite {
    position: relative;
    top: 0;
    left: 0;
}

.popularite {
    background-color: #155DFC;
    color: #1C2636;
    font-weight: 600;
}

.description {
    max-width: 60%;
}

.description h1,
.description h2,
.notes,
.genres {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;

    width: fit-content;
    padding: 0.3rem 0.7rem;

    background-color: #0f172746;
    border-radius: 15px 15px 0 0;
}

.description h2,
.genres {
    font-weight: 200;
    border-radius: 0 15px 15px 15px;
}

.notes,
.genres {
    padding: 0 0.7rem;
    border-radius: 15px;
    text-align: center;
}

span.star {
    color: #155DFC;
    font-size: 1.5rem;
}

span.grey {
    color: #93949e;
}

/* Style des oeuvres - FIN */

/* ----------[ FIN DU FICHIER index.ejs ]---------- */

/* ----------[ DEBUT DU FICHIER login.ejs ]---------- */

.login-page, .add-page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4.5rem;
    margin-bottom: 3rem;
}

.form-container {
    position: relative;
    max-width: 25rem;
    width: 45%;
    padding: 2rem 2.5rem;

    box-sizing: border-box;
    border-radius: 0.75rem;

    background-color: rgba(17, 24, 39, 1);
}

.title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 0.75rem 1rem;

    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;

    background-color: rgba(17, 24, 39, 1);
    color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
    border-color: #2A7BF8;
}

.sign span,
.ajouter span,
.close-btn span,
.white span {
    position: relative;
    z-index: 2;
    transition: color 0.4s ease;
}

.sign {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 3rem;
    
    width: 60%;
    padding: 0.75rem;
    background-color: #2A7BF8;
    border: none;
    border-radius: 12px;

    text-align: center;
    color: rgba(17, 24, 39, 1);
    font-weight: 600;
    cursor: pointer;

    transition: all 0.4s ease;
}

.sign::before,
.form-container::before,
.ajouter::before,
.connecter::before,
.close-btn::before {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 12px;
  z-index: 0;

  filter: blur(0);
  transition: filter 0.4s ease;
}

.form-container::before {
    z-index: -1;
}

.sign:hover::before,
.form-container:hover::before,
.ajouter:hover::before,
.connecter:hover::before,
.close-btn:hover::before  {
  background: linear-gradient(90deg, #2a7cf8ce, #6d4cffc8);
  filter: blur(1.2em);
}

.form-container:hover::before {
    filter: blur(0.5em);
}

.ajouter:hover::before,
.connecter:hover::before,
.close-btn:hover::before {
    filter: blur(0.3em)
}

.connecter:hover::before,
.white:hover::before {
    background: linear-gradient(90deg, #ffffff54, #f9f7ff4a);
}

.sign:hover span,
.ajouter:hover span,
.close-btn:hover span {
    color: rgba(255, 255, 255, 0.844);
}

.white:hover span {
    color: #686c73;
}

.sign:active::before {
  filter: blur(0.2em);
}

/* ----------[ FIN DU FICHIER login.ejs ]---------- */

/* ----------[ DEBUT DU FICHIER add.ejs ]---------- */


.add-page .form-container {
    max-width: 35rem;
}

.white {
    position: relative;
    background-color: white;
}

.genre-container, .type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.genre-chip, .type-chip {
  padding: 8px 14px;
  border-radius: 20px;
  background-color: #1E2939;
  cursor: pointer;

  transition: all 0.2s ease;
}

.genre-chip:hover, .type-chip:hover {
  background-color: #333E51;
}

.genre-chip.selected, .type-chip.selected {
  background-color: #155DFC;
}

input[type="date"],
input[type="file"] { /* Ils sont pas centré verticalement de base... Donc on le fait ici */
    padding: 0.5rem 1rem;
    height: 40px;
    display: flex;
    align-items: center;
}

.double-boutons {
    display: flex;
    justify-content: space-around;
}

.double-boutons .sign {
    max-width: 10rem;
    width: 45%;
    box-sizing: border-box;
    padding: 0.6rem 0.2rem;
}

/* ----------[ FIN DU FICHIER add.ejs ]---------- */

/* ----------[ DEBUT DU FICHIER oeuvre.ejs ]---------- */

.voir-oeuvre {
    width: 100vw;
    padding: 2rem;
    border-bottom: solid 2px #0F1727;
}

.voir-oeuvre:hover {
    transform: scale(1); /* Pour annuler l'animation de la classe tendance */
}

.votre-avis , .liste-avis {
    width: 97vw;
    margin: auto;
}

.votre-avis {
    border-bottom: solid 1px #686c73;
}

.votre-avis .avis {
    padding: 1rem 2rem;
}

.votre-avis .form .input-group textarea {
    resize: none;
    font-weight: 300;
    font-family: "Assistant", sans-serif;
    width: 90%;
}

.votre-avis .sign {
    margin: 1rem 0;
    width: fit-content;
}

/* Style de la note - DEBUT */

.votre-avis .rating {
    flex-direction: row-reverse; /* Parce que de base c'est à l'envers */
}

.votre-avis .rating input {
  display: none;
}

.votre-avis .rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.votre-avis .rating label:before {
  content: '\2605'; /* une étoile */
  font-size: 30px;
}

.votre-avis .rating input:checked ~ label,
.votre-avis .rating label:hover,
.votre-avis .rating label:hover ~ label {
  color: #155DFC;
  transition: color 0.3s;
}

/* Style de la note - FIN */

/* Style des avis - DEBUT */

.liste-avis h1,
.votre-avis h1,
.avis h1 {
    font-size: 1.05rem;
    font-weight: 300;
}

.avis {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;

    background-color: #0F1727;
    border-radius: 15px;
}

.avis h1,
.avis h2,
.avis h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
}

.avis h2 {
    font-size: 1rem;
    font-weight: 300;
}

.avis h3 {
    font-size: 0.95rem;
    color: #686c73;
}

.avis .icon {
    padding: 0;
    justify-content: flex-start;
}

.avis .icon img {
    border-radius: 13px;
    cursor: pointer;
}

.rating {
    display: flex;
    width: fit-content;
    gap: 0.1rem;
    margin-bottom: 0.5rem;
}

/* Style des avis - FIN */


/* ----------[ FIN DU FICHIER oeuvre.ejs ]---------- */



/* Pour changer certains attributs pour que ça soit responsive sur mobile */
@media (max-width: 550px) {
    body {
        letter-spacing: 0.4px;
    }

    /* ----------[ DEBUT DU FICHIER index.ejs ]---------- */

    nav {
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    nav .icon {
        font-size: 0.95rem;
        padding: 0;
    }

    nav .icon img {
        width: 1.6rem;
    }

    nav .actions,
    nav .searchbar {
        display: none;
    }

    /* Style du burger menu - DEBUT */

    nav .burger {
        display: flex;
    }

    /* Style du burger menu - FIN */

    /* Style des filtres - DEBUT */

    .filter-container {
        width: 98vw;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        justify-content: space-evenly;
        height: 3.5rem;
        gap: 0;
    }

    .filter-container .icon {
        font-size: 0.9rem;
        gap: 0.2rem;
        padding: 0;
    }

    .filter-container img {
        width: 1.1rem;
    }

    .filter {
        font-size: 0.7rem;
    }

    .selected {
        padding: 0.15rem 0.3rem;
    }

    .options div {
        padding: 0.5rem;
    }

    /* Style des filtres - FIN */

    /* Style des oeuvres - DEBUT */

    .oeuvres,
    .tendance {
        width: 90vw;
        padding: 1rem;
    }

    .tendance .details {
        top: 38%;
        left: 0;
    }

    .description {
        max-width: 100%;
    }

    .oeuvre .type {
        font-size: 0.95rem;
    }


    .details .ensemble,
    .description h1,
    .description h2,
    .notes,
    .genres {
        font-size: 0.83rem;
    }

    .details .ensemble {
        gap: 0.3rem;
        padding: 0 0.3rem;
    }

    span.star {
        font-size: 1.1rem;
    }

    /* Style des oeuvres - FIN */

    /* ----------[ FIN DU FICHIER index.ejs ]---------- */

    /* ----------[ DEBUT DU FICHIER login.ejs ]---------- */

    .login-page, .add-page {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }

    .form-container {
        width: 90vw;
        margin-bottom: 4rem;
    }

    /* ----------[ FIN DU FICHIER login.ejs ]---------- */

    /* ----------[ DEBUT DU FICHIER oeuvre.ejs ]---------- */

    .voir-oeuvre {
        width: 100vw;
        padding: 0.5rem;
    }

    .votre-avis , .liste-avis {
        width: 90vw;
    }

    /* Style de la note - DEBUT */

    .votre-avis .rating label:before {
        font-size: 1.5rem;
    }

    /* Style de la note - FIN */

    /* Style des avis - DEBUT */

    .liste-avis h1,
    .votre-avis h1,
    .avis h1 {
        font-size: 0.93rem;
    }

    .avis h2, 
    .votre-avis .form .input-group textarea {
        font-size: 0.87rem;
    }

    .avis h3 {
        font-size: 0.8rem;
        color: #686c73;
    }

    /* Style des avis - FIN */

    /* ----------[ FIN DU FICHIER oeuvre.ejs ]---------- */
}
