@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800');

html {
    scroll-behavior: smooth;
    user-select: none;
}

body {
    margin: 0;
    background-color: #030712;

    color: #ececec;
    font-weight: 300;
    font-family: "Assistant", sans-serif;
    letter-spacing: 0.7px;
}

.blue {
    color: #2A7BF8;
}

nav, .filter-container {
    display: flex;
    width : 100vw;
    padding: 1rem;
    box-sizing: border-box; /* 100vw (width) + 1rem (padding) = 100vw */

    justify-content: space-between;
    align-items: center;

    background-color: #0F1727;
    border-bottom: solid 1.8px #1C2636;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

.icon,
nav .actions,
.ajouter,
.connecter {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;

    gap: 0.7rem;
    font-weight: 400;
}

.icon {
    font-size: 1.1rem;
    text-wrap: nowrap;
}

.icon img {
    width: 1.8rem;
}

.ajouter {
    background-color: #155DFC;
    font-weight: 500;
    font-size: 1rem;
    width: fit-content;
}

.connecter {
    background-color: rgb(255, 255, 255);
    background-image: url('image/person.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1; /* width / height = 1 */
}

/* Style de la barre de recherce - DEBUT */

.searchbar, .burger-searchbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 45%;
}

form {
    width: 100%;
}

input {
    width: 100%;
    height: 2.2rem;
    padding-left: 2.5rem;

    border: solid 2px #333E51;
    border-radius: 8px;
    outline: none;
    background-color: #1E2939;

    color: #eff0ff;
    font-family: "Assistant", sans-serif;
    letter-spacing: 0.7px;
    font-size: 0.9rem;

    transition: all 0.09s ease-in-out;
    cursor: text;
}

input:active {
    transform: scale(0.95);
}

input::placeholder {
    color: #93949e;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    z-index: 1; /* Il est au dessus de la searchbar */
}

/* Style de la barre de recherce - FIN */

/* Style du burger menu (icon) - DEBUT */

.burger {
    position: relative;
    display: none; /* Visible que sur une écran 550px ou moins */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 7px;

    height: 2.2rem;
    border-radius: 15px;
    z-index: 2;
}

.bar1,
.bar2,
.bar3_h,
.bar4 {
    border-radius: 30px;
    background-color: #155DFC;
    width: 1.6rem;
    transition: 0.4s;
    height: 2.4px;
}

.bar2 {
    position: absolute;
}

.burger.active {
    border-radius: 50px;
    cursor: pointer;
}

.burger.active .bar3_h {
    transform: rotate(-45deg);
}

.burger.active .bar2 {
    transform: rotate(45deg);
}

.burger.active .bar1,
.burger.active .bar4 {
    opacity: 0;
}

/* Style du burger menu (icon) - FIN */


/* Style du burger menu (menu) - DEBUT */

.burger-menu {
    display: none; /* caché par défaut */
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    top: 50.8px;
    right: 0;

    width: fit-content;
    padding: 1rem;
    row-gap: 0.6rem;

    background-color: #0F1727;
    border: solid 1.8px #1C2636;
    border-top: solid 1.8px #0F1727;
    border-radius: 0 0 0 8px;
    z-index: 5;
}

.burger-menu .icon {
    padding: 0;
    gap: 0.6rem;
}

.burger-menu .ajouter,
.burger-menu .icon {
    font-size: 0.95rem;
}

.burger-menu .ajouter,
.burger-menu .connecter {
    height: 1.5rem;
}

.burger-searchbar {
    width: 70vw;
    max-width: 300px;
    margin-bottom: 0.6rem;
}


/* Style du burger menu (menu) - FIN */

/* Style des filtres - DEBUT */

.filter-container {
    width: 97vw;
    height: 4rem;
    padding: 0;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: flex-start;
    gap: 1rem;

    border: solid 1px #1C2636;
    border-radius: 10px;
}

.filter-container .icon {
    font-size: 1rem;
    font-weight: 300;
    gap: 0.4rem;
}

.filter-container img {
    width: 1.3rem;
}

.filter {
    position: relative;
}

.selected {
    display: flex;
    background-color: #1E2939;
    padding: 0.5rem 1rem;

    justify-content: space-between;
    align-items: center;

    border: solid 2px #333E51;
    border-radius: 6px;

    cursor: pointer;
}

.selected .arrow {
    margin-left: 0.5rem;

    font-size: 0.8rem;
    color: #333E51;

    transition: transform 0.2s;
}

.selected.active .arrow {
    transform: rotate(180deg);
}

.options {
    display: none; /* ça apparait seulement si on clique sur les filtres (voir script.js) */
    position: absolute;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    background-color: #1E2939;
    border: solid 2px #333E51;
    border-top: none;
    border-radius: 0 0 6px 6px;
    z-index: 3;
}

.options.show {
    display: flex; /* On montre que si il a la classe show (script.js) */
}

.options div { /* div des choix */
    padding: 0.5rem 1rem; /* top/bottom left/right */
    cursor: pointer;
    transition: background 0.2s;
}

.options div:hover {
    background-color: #333E51;
}

/* Style des filtres - FIN */

/* Style des oeuvres - DEBUT */

.tendance-icon {
    margin: 1.5rem 0;
    margin-left: 2vw;
    justify-content: start;
    font-weight: 300;
}

.oeuvres {
    display: grid;
    gap: 1.5rem;
    width: 97vw;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* colonnes flexibles */
    max-width: calc(5 * 300px + 4 * 1.5rem); /* maximum 5 colonnes + gaps */
}

.oeuvre, .tendance {
    position: relative;
    transition: transform 0.3s ease;
}

.oeuvre img, .tendance img {
    display: block;
    max-width: 100%;       
    height: 100%;
    border-radius: 15px;
    object-fit: cover;  /* recadrage si nécessaire */
    cursor: pointer;
}

.oeuvre:hover,
.tendance:hover {
    transform: scale(1.01);
}

.type, .popularite {
    position: absolute;
    top: 15px;
    left: 15px;

    background-color: #0F1727;
    font-weight: 400;
    padding: 0.3rem 0.8rem;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.tendance {
    width: 97vw;
    margin: auto;
    aspect-ratio: 16 / 4;
    min-height: 50vh;
}

.tendance img {
    width: 100%;     
}

.tendance .details {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    position: absolute;
    top: 50%;
    left: 30px;
}

.details .ensemble {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}

.tendance .type,
.popularite {
    position: relative;
    top: 0;
    left: 0;
}

.popularite {
    background-color: #155DFC;
    color: #1C2636;
    font-weight: 600;
}

.description {
    max-width: 60%;
}

.description h1,
.description h2,
.notes,
.genres {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;

    width: fit-content;
    padding: 0.3rem 0.7rem;

    background-color: #0f172746;
    border-radius: 15px 15px 0 0;
}

.description h2,
.genres {
    font-weight: 200;
    border-radius: 0 15px 15px 15px;
}

.notes,
.genres {
    padding: 0 0.7rem;
    border-radius: 15px;
    text-align: center;
}

span.star {
    color: #fcf950;
    font-size: 1.5rem;
}

span.grey {
    color: #93949e;
}

/* Style des oeuvres - FIN */


/* Pour changer certains attributs pour que ça soit responsive sur mobile */
@media (max-width: 550px) {
    body {
        letter-spacing: 0.4px;
    }

    nav {
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    nav .icon {
        font-size: 0.95rem;
        padding: 0;
    }

    nav .icon img {
        width: 1.6rem;
    }

    nav .actions,
    nav .searchbar {
        display: none;
    }

    /* Style du burger menu - DEBUT */

    nav .burger {
        display: flex;
    }

    /* Style du burger menu - FIN */

    /* Style des filtres - DEBUT */

    .filter-container {
        width: 98vw;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        justify-content: space-evenly;
        height: 3.5rem;
        gap: 0;
    }

    .filter-container .icon {
        font-size: 0.9rem;
        gap: 0.2rem;
        padding: 0;
    }

    .filter-container img {
        width: 1.1rem;
    }

    .filter {
        font-size: 0.7rem;
    }

    .selected {
        padding: 0.15rem 0.3rem;
    }

    .options div {
        padding: 0.5rem;
    }

    /* Style des filtres - FIN */

    /* Style des oeuvres - DEBUT */

    .oeuvres,
    .tendance {
        width: 90vw;
    }

    .tendance .details {
        top: 38%;
        left: 0;
    }

    .description {
        max-width: 100%;
    }

    .oeuvre .type {
        font-size: 0.95rem;
    }


    .details .ensemble,
    .description h1,
    .description h2,
    .notes,
    .genres {
        font-size: 0.83rem;
    }

    .details .ensemble {
        gap: 0.3rem;
        padding: 0 0.3rem;
    }

    span.star {
        font-size: 1.1rem;
    }

    /* Style des oeuvres - FIN */
}


/*======================TEMPORAIRE========================*/



/* Fond flouté */
.login-bg {
    background-image: url('/image/home-background.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(5px);  /* floute seulement le fond */
    z-index: 0;
}

/* Conteneur du formulaire */
.login-container {
    position: relative;
    z-index: 1; /* au-dessus du fond flouté */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    width: 350px;
    margin: 10% auto;
}
