@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #030712;
    color: white;
    font-family: "Assistant", sans-serif;
}

.blue {
    color: #2A7BF8;
}

img.icon {
    width: 1.8rem;
}

nav {
    display: flex;
    width : 100vw;
    padding: 1rem;
    box-sizing: border-box; /* 100vw (width) + 1rem (padding) = 100vw */

    justify-content: space-between;
    align-items: center;

    background-color: #0F1727;
    border-bottom: solid 1.8px #1C2636;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

nav .logo,
nav .actions,
.ajouter,
.connecter {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.2rem;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 8px;

    gap: 0.8rem;
}

nav .logo {
    font-size: 1.1rem;
    text-wrap: nowrap;
}

.ajouter {
    background-color: #155DFC;
    font-weight: 500;
    font-size: 1rem;
    width: fit-content;
}

.connecter {
    background-color: rgb(255, 255, 255);
    background-image: url('image/person.png');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1; /* width / height = 1 */
}

/* Style de la barre de recherce - DEBUT */

.searchbar, .burger-searchbar {
    position: relative;
    display: flex;
    align-items: center;
    width: 45%;
}

input {
    width: 100%;
    height: 2.2rem;
    padding-left: 2.5rem;

    border: solid 2px #333E51;
    border-radius: 8px;
    outline: none;
    background-color: #1E2939;

    color: #eff0ff;
    font-family: "Assistant", sans-serif;
    font-size: 0.9rem;

    transition: all 0.09s ease-in-out;
    cursor: text;
}

input:active {
    transform: scale(0.95);
}

input::placeholder {
    color: #93949e;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    z-index: 1; /* Il est au dessus de la searchbar */
}

/* Style de la barre de recherce - FIN */

/* Style du burger menu (icon) - DEBUT */

.burger {
    position: relative;
    display: none; /* Visible que sur une écran 550px ou moins */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 8px;

    height: 2.2rem;
    border-radius: 15px;
    z-index: 2;
}

.bar1,
.bar2,
.bar3_h,
.bar4 {
    border-radius: 30px;
    background-color: #155DFC;
    width: 1.8rem;
    transition: 0.4s;
    height: 3px;
}

.bar2 {
    position: absolute;
}

.burger:hover {
    border-radius: 50px;
}

.burger:hover .bar3_h {
    transform: rotate(-45deg);
}

.burger:hover .bar2 {
    transform: rotate(45deg);
}

.burger:hover .bar1,
.burger:hover .bar4 {
    opacity: 0;
}

/* Style du burger menu (icon) - FIN */


/* Style du burger menu (menu) - DEBUT */

.burger-menu {
    display: none; /* caché par défaut */
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    top: 50.8px;
    right: 0;

    width: fit-content;
    padding: 1rem;
    row-gap: 0.6rem;

    background-color: #0F1727;
    border: solid 1.8px #1C2636;
    border-top: solid 1.8px #0F1727;
    border-radius: 0 0 0 8px;
}

.burger-menu .logo {
    padding: 0;
    gap: 0.6rem;
}

.burger-menu .ajouter,
.burger-menu .logo {
    font-size: 0.95rem;
}

.burger-menu .ajouter,
.burger-menu .connecter {
    height: 1.5rem;
}

.burger-searchbar {
    width: 70vw;
    max-width: 300px;
    margin-bottom: 0.6rem;
}


/* Style du burger menu (menu) - FIN */

/* Pour changer certains attributs pour que ça soit responsive sur mobile */
@media (max-width: 550px) {
    nav {
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    nav .actions,
    nav .searchbar {
        display: none;
    }

    nav .burger {
        display: flex;
    }
}


/*======================TEMPORAIRE========================*/



/* Fond flouté */
.login-bg {
    background-image: url('/image/home-background.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: blur(5px);  /* floute seulement le fond */
    z-index: 0;
}

/* Conteneur du formulaire */
.login-container {
    position: relative;
    z-index: 1; /* au-dessus du fond flouté */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    width: 350px;
    margin: 10% auto;
}
