<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>C'est tourné ! - Ajouter une oevre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script.js" defer></script>
    <link rel="icon" href="image/logo.png">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

</body>

</html>