<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>C'est tourné ! - Page d'acceuil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script.js" defer></script>
    <link rel="icon" href="image/logo.png">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="icon">
            <img src="image/logo.png">
            <span class="blue">C'est tourné !</span>
        </div>
        <div class="searchbar">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                <!-- Dessin de la search icon (trouvé sur Google)-->
                <g>
                    <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                    </path>
                </g>
            </svg>

            <form action="/search" method="post">
                <input type="search" list="Movies-Series" placeholder="Rechercher un film ou une série..." name="search" autocomplete="off"/>
                <datalist id="Movies-Series">
                    <% movies.forEach(item=> { %>
                        <option value="<%= item.title %>"></option>
                    <% }) %>
                    <% series.forEach(item=> { %>
                        <option value="<%= item.title %>"></option>
                    <% }) %>
                </datalist>
            </form>
        </div>
        <div class="actions">
            <a href="/add">
                <div class="ajouter"><span>+</span><span>Ajouter</span></div>
            </a>
            <a href="/login">
                <div class="connecter"></div>
            </a>
        </div>


        <div class="burger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3_h"></div> <!-- Bar caché dans la bar2 -->
            <div class="bar4"></div>
        </div>
        <div class="burger-menu">
            <div class="burger-searchbar">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                    <!-- Dessin de la search icon (trouvé sur Google)-->
                    <g>
                        <path
                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                    </g>
                </svg>
                <form action="/search" method="post">
                    <input type="search" list="Movies-Series" placeholder="Rechercher un film ou une série..." name="search"
                        autocomplete="off" />
                    <!-- Pas besoin de recopier 2 fois la datalist, on y accepte grâce a list = id de la datalist -->
                </form>
            </div>
            <a href="/add">
                <div class="ajouter"><span>+</span><span>Ajouter</span></div>
            </a>
            <a href="/login">
                <div class="icon">
                    <div class="connecter"></div><span>Se connecter</span>
                </div>
            </a>
        </div>
    </nav>

    <h1>Tendance du mois</h1>

    <div class="tendance">
        <img src="image/inception.jpeg">
        <div class="details">
            <div class="popularite-type">
                <div class="popularite">#1 Populaire</div>
                <div class="type">Film</div>
            </div>
            <div class="description">
                <h1>Inception</h1>
                <h2>Un voleur capable d'infiltrer les rêves des autres se voit confier une mission presque impossible : implanter une idée dans l'esprit d'une cible tout en naviguant dans plusieurs niveaux de rêves.</h2>
            </div>
            <div class="avis-genre"></div>
        </div>
    </div>

    <div class="filter-container">
        <div class="icon">
            <img src="image/filter.png">
            <span>Filtres :</span>
        </div>
    
        <div class="filter">
            <div class="selected">Tous<span class="arrow">▼</span></div>
            <div class="options">
                <div data-value="tous">Tous</div>
                <div data-value="films">Films</div>
                <div data-value="series">Séries</div>
            </div>
        </div>

        <div class="filter">
            <div class="selected">Tous les genres<span class="arrow">▼</span></div>
            <div class="options">
                <div data-value="tous-les-genres">Tous les genres</div>
                <% genres.forEach(genre => { %>
                    <div data-value="<%= genre %>"><%= genre %></div>
                <% }) %>
            </div>
        </div>

        <div class="filter">
            <div class="selected">Popularité<span class="arrow">▼</span></div>
            <div class="options">
                <div data-value="plus-populaire">Plus populaire</div>
                <div data-value="moins-populaire">Moins populaire</div>
                <div data-value="peu-importe">Peu importe</div>
            </div>
        </div>
    </div>

    <div class="oeuvres">
        <div class="oeuvre">
            <img src="image/inception.jpeg">
            <div class="type">Film</div>
        </div>
        <div class="oeuvre">
            <img src="image/inception.jpeg">
            <div class="type">Série</div>
        </div>
        <div class="oeuvre">
            <img src="image/inception.jpeg">
            <div class="type">Film</div>
        </div>
        <div class="oeuvre">
            <img src="image/inception.jpeg">
            <div class="type">Film</div>
        </div>
    </div>
</body>

</html>